@font-face {
	font-family: "Nunito";
	src: url("../fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
	font-family: "Nunito-light";
	src: url("../fonts/Nunito/Nunito-Light.ttf");
}

@font-face {
	font-family: "Nunito-SemiBold";
	src: url("../fonts/Nunito/Nunito-SemiBold.ttf");
}

@font-face {
	font-family: "Nunito-bold";
	src: url("../fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
	font-family: "Nunito-extraBold";
	src: url("../fonts/Nunito/Nunito-ExtraBold.ttf");
}

@font-face {
	font-family: "Nunito-black";
	src: url("../fonts/Nunito/Nunito-Black.ttf");
}
