* {
	margin: 0;
	padding: 0;
	box-sizing: bottom;

	font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	scroll-behavior: smooth;

	transition: all .3s cubic-bezier(0.38, 0.63, 0.3, 1.15);
}

body,
html {
	max-width: 100vw;
	background-color: white;
	color: var(--default-color);
	overflow: hidden auto;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--light-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--gray-color);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Utils */
.text-center {
	text-align: center;
}

.text-default-color {
	color: var(--default-color);
}

.text-danger {
	color: var(--danger-color);
}

.text-success {
	color: var(--success-color);
}

.text-accent {
	color: var(--accent-color);
}

.text-warn {
	color: var(--warn-color);
}

.text-muted {
	color: var(--gray-color);
}

.text-semi-bold {
	font-weight: 600 !important;
}

.container {
	padding: 0px 5vw;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-between-centered {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	background-color: var(--light-color);
	border-style: hidden;
	border-radius: 5px;
	outline: 1px solid transparent;

	width: 200px;
	height: var(--default-control-height);
	padding: 0px 10px 0px 20px;
}

.input::placeholder {
	color: var(--gray-color);
}

.input:hover {
	cursor: pointer;
	/*outline-color: var(--gray-color);*/
	box-shadow: var(--default-control-box-shadow);
}

.input:focus {
	box-shadow: var(--default-control-box-shadow);
}

.input.extend:focus {
	width: 300px;
}

.rounded-input {
	border-radius: 20px;
}

.input-icon-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: stretch;

	position: relative;
	height: 40px;
	padding: 0px 10px 0px 20px;
}

.input-icon-wrapper .input {
	padding-left: 50px;
}

.input-icon-wrapper>.icon {
	pointer-events: none;
	user-select: none;
	position: absolute;
	font-size: 20px;
	color: var(--gray-color);
	margin-left: 18px;
}

.btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-size: var(--default-font-size);
	text-decoration: none;
	color: var(--default-color);

	height: var(--default-control-height);
	padding: 0 10px;

	background-color: var(--light-color);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-light {
	background-color: white;
	box-shadow: var(--default-control-box-shadow-light);
}

.btn:hover {
	box-shadow: var(--default-control-box-shadow);
}

.btn-circle-icon {
	height: var(--default-control-height);
	width: var(--default-control-height);
	padding: 0;
	border-radius: 50%;
}

.btn-circle-icon.favorite>.icon {
	color: var(--danger-color)
}

.btn-circle-icon>.icon {
	font-size: calc(var(--default-control-height) / 2);
	height: calc(var(--default-control-height) / 2);
	width: calc(var(--default-control-height) / 2);
}

/* Dom elements */
#app {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#app>#sidebar-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	position: fixed;
	width: var(--left-sidebar-width);
	height: 100%;
	left: 0px;
	top: 0px;
	background: var(--light-color);
	overflow: hidden;
}

#app>#sidebar-menu>div.logo-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0;

	height: var(--header-height);

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;

	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#app>#sidebar-menu>div.logo-container>.text-logo {
	font-family: "Nunito-extraBold";
	font-size: 30px;
	color: var(--default-color);
	text-decoration: none;

	filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.15));

	padding: 0;
	margin: 0 0 5px 20px;
}

#app>#sidebar-menu>ul.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 100%;
	flex: none;
	align-self: stretch;
	flex-grow: 1;
	margin: 0px 0px;
	list-style: none;
	overflow: hidden auto;
}

#app>#sidebar-menu>.nav-container .list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 0px;
	position: relative;
	width: 100%;
	height: 40px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 5px 0px;
	color: var(--gray-color);
	text-decoration: none;
}

#app>#sidebar-menu>.nav-container>.list-item:hover,
#app>#sidebar-menu>.nav-container>.list-item.selected {
	color: var(--accent-color);
	background-color: rgba(0, 121, 191, 0.02);
}

#app>#sidebar-menu>.nav-container>.list-item.selected::after {
	content: "";

	position: absolute;
	right: 10px;
	height: 10px;
	width: 10px;

	border-radius: 5px;

	background-color: var(--accent-color);
}

#app>#sidebar-menu>.nav-container .list-item>.icon {
	margin: 0;
	margin-left: 35px;
	margin-right: 15px;
	font-size: 30px;
	height: 30px;
	width: 30px;
}

#app>#sidebar-menu>.nav-container .list-item .list-item-label {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

#app>#sidebar-menu .gift-card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-height: 40vh;
}

#app>#sidebar-menu .gift-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: static;
	width: 180px;
	left: 29px;
	top: 701px;

	opacity: 0.9;
	background: linear-gradient(131.55deg, var(--default-color) 0%, rgba(5, 5, 7, 0.7) 96.47%);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
	border-radius: 20px;

	/* Inside Auto Layout */

	flex: none;
	order: 2;
	flex-grow: 0;
	margin: 0px 0px;
	padding: 15px 10px;
	text-decoration: none;
	color: var(--light-color);
}

#app>#sidebar-menu .gift-card:hover {
	opacity: 1;
	/*background: linear-gradient(131.55deg, var(--default-color) 0%, rgba(5, 5, 7, 0.7) 74.2%);*/
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

#app>#sidebar-menu .gift-card>* {
	margin: 5px 0;
	margin-left: 10px;
}

#app>#sidebar-menu .gift-card>.material-icons {
	font-size: 35px;
}

#app>#sidebar-menu .gift-card>h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
}

#app>#sidebar-menu .gift-card>p {
	line-height: 22px;
}

#app>#main {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	width: calc(100% - var(--left-sidebar-width));
	height: 100%;

	margin-left: var(--left-sidebar-width);
	overflow: hidden;
}

#app>#main>header.main-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	position: static;
	height: var(--header-height);
	padding: 0 var(--main-line-margin-x-space);
	width: 100;

	background: #FFFFFF;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

#app>#main>header.main-header>* {
	margin-left: 20px;
}

#app>#main>main {
	padding: 20px var(--main-line-margin-x-space);
	flex: 1;
	overflow: hidden auto;
}

#app>#main>main .header-title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px;
	margin: 30px 0px;
}

#app>#main>main .header-title-container>select {
	background-color: transparent;
	font-weight: 600;
	line-height: 25px;
}

#app>#main>main .header-title-container>select option {
	color: var(--default-color);
}

#app .card-project {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;

	min-height: 200px;
	max-height: 250px;
	overflow: hidden;

	background: white;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 20px;

	margin: 0px;
	margin-bottom: 30px;
}

#app .card-project>.card-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: 200px;
	background: rgba(0, 0, 0, 0.01);
	border-radius: 20px;
	align-self: stretch;
}

#app .card-project>.card-img>img {
	width: 60%;
}

#app .card-project>.card-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px 40px 10px;

	position: static;
	flex: 1;
	align-self: stretch;
	color: var(--gray-color);
}

#app .card-project>.card-body>.title {
	color: var(--default-color);
}

#app .card-project>.card-body>.content {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;

	flex: 1;
	align-self: stretch;
	margin: 10px 0;
}

#app .card-project>.card-body>.content>* {
	flex: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}

#app .card-project>.card-body>.content>*>* {
	margin-bottom: 5px;
}

#app .card-project>.card-body>.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	align-self: stretch;
	padding: 10px 0;
	margin: 0;
}

#app .card-project>.card-body>.footer>* {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}

#app .card-project>.card-body>.footer>*:last-child {
	justify-content: flex-end !important;
}

#app .card-project>.card-body>.footer>*>* {
	margin: 0;
	margin-right: 10px;
	padding: 0;
}

#app .card-project>.card-body>.footer>*:last-child>* {
	margin-right: 0;
	margin-left: 10px;
}

#app .card-project>.card-body>.footer .img-icon {
	height: 20px;
}

#app .option-item {
	border-bottom: 1px solid #00000020;
	padding: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

#app .option-item:hover {
	background-color: #00000005;
}

#app .option-item.disabled {
	pointer-events: none;
	opacity: 0.4;
	cursor: default;
	background-color: transparent !important;
}

#app .option-control {
	position: relative;
}

#app .option-control {
	user-select: none;
	position: relative;
}

#app>#main>footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: var(--footer-height);

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0;
	padding: 0 var(--main-line-margin-x-space);
}

#app>#main>footer>h3 {
	font-weight: normal;
	font-size: var(--default-font-size);
}

#app .modal {
	display: none;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100vw;
	overflow: hidden;

	/*display: none;*/
	z-index: 9998;
}

#app .modal.visible {
	display: flex;
}

#app .modal::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

#app .modal>.card-content {
	background-color: white;

	border-radius: 20px;
	box-shadow: var(--default-control-box-shadow);

	position: relative;
	height: 70vh;
	width: 100%;
	overflow: hidden;

	padding: 50px 40px 20px 40px;
	margin: auto 20vw;

	z-index: 9999;
}

#app .modal>.card-content .close-btn {
	position: absolute;
	right: 40px;
	top: 50px;
}

#app .modal>.card-content .card-title {
	font-size: 25px;
	margin-bottom: 25px;
}

#app .modal>.card-content .card-body {
	padding: 20px 0px;
	overflow: hidden auto;
}
