* {
	margin: 0;
	padding: 0;
	box-sizing: bottom;
	font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	scroll-behavior: smooth;
}

body,
html {
	max-width: 100vw;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-between-centered {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
