:root {
	/* COLORS */
	--default-color: #050507;
	--accent-color: #0079BF;
	--light-color: #F9F9F9;
	--gray-color: #B2B4BC;
	--danger-color: #ff4949;
	--success-color: #35e074;

	/* SIZES */
	--default-font-size: 14px;
	--default-control-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.13);
	--default-control-box-shadow-light: 0px 2px 4px rgba(0, 0, 0, 0.07);
	--default-control-height: 40px;

	--main-line-margin-x-space: 50px;
	--header-height: 100px;
	--footer-height: 60px;
	--left-sidebar-width: 260px;

	--main-width: calc(100% - var(--left-sidebar-width));


	/* FONTS */
}
